div{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

button {
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 100%;
    height: 45px;
    background-color: darkturquoise;
    
}
