h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: brown;
}

p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: cadetblue;
    font-size: medium;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: wheat;
}

